<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="ClusterInfo">
      <section name="Clusters" type="ADS.Common.Services.Cache.WCF.CustomConfigHandler,ADS.Common.Services.Cache.WCF"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    
    <add key="ServiceName" value="ADS.Tamam.Cache.1.9"/>
    <add key="XLogger.Location" value="c:\x\Logs\Tamam\1.9\Tamam.Cache.logs.txt"/>
    <add key="XLogger.Sensitivity" value="2"/> <!-- Trace = 0 / Info = 1 / Warning = 2 / Error = 3 -->
    <add key="XLogger.AutoClean.Enabled" value="True"/>
    <add key="XLogger.AutoClean.Age" value="186"/>    <!-- hours -->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding1" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
          <reliableSession inactivityTimeout="infinite"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="ADS.Common.Services.Cache.WCF.CacheService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding1" contract="ADS.Common.Contracts.Cache.ICacheService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8523/ADS.Services.Cache"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <ClusterInfo>
    <Clusters>

      <Cluster Id="F96F26D8-7148-47ED-8430-858B1CA68A87" Name="OrganizationDetail"/>
      <Cluster Id="B5998BB8-7E3C-44AD-92EB-1B19BD59050E" Name="Reports"/>
      <Cluster Id="D4D0BC98-00A0-4114-BE1C-45D3BA4AA896" Name="ScheduledReports"/>
      
      <Cluster Id="C6212FD7-09D0-4CA6-8CBC-EA0A439E7503" Name="Common">
        <Parent Id="A94E96E0-057D-4DEE-971F-CFC881DC51B6" Name="Person"/>
      </Cluster>
      
      <Cluster Id="73478F5B-1CBF-458A-B63B-11EB84971627" Name="Security">
        <Parent Id="F63CBF24-8097-410C-86B1-32D2F69BEE9F" Name="Department"/>
        <Parent Id="C6212FD7-09D0-4CA6-8CBC-EA0A439E7503" Name="Common"/>
        <Parent Id="D4D0BC98-00A0-4114-BE1C-45D3BA4AA896" Name="ScheduledReports"/>
        <Parent Id="B5998BB8-7E3C-44AD-92EB-1B19BD59050E" Name="Reports"/>
        <Parent Id="F96F26D8-7148-47ED-8430-858B1CA68A87" Name="OrganizationDetail"/>
        <Parent Id="72BB5AD9-0390-480D-9AD1-76DED4CE6FF8" Name="Holidays"/>
      </Cluster>

      <Cluster Id="FD515DBF-F0D5-4F78-92D8-6BE31A097042" Name="Attendance" AbsoluteExpiration="00:15:00">
        <Parent Id="B5998BB8-7E3C-44AD-92EB-1B19BD59050E" Name="Reports"/>
      </Cluster>

      <Cluster Id="72BB5AD9-0390-480D-9AD1-76DED4CE6FF8" Name="Holidays">
        <Parent Id="FD515DBF-F0D5-4F78-92D8-6BE31A097042" Name="Attendance"/>
        <Parent Id="85B46EAB-A93C-4F6B-9234-485E7F524EE5" Name="Leaves"/>
        <Parent Id="539BD77C-386C-403A-8BCA-ECB9A9517C65" Name="Excuses"/>
        <Parent Id="115BE7A7-281F-4EC4-9416-E11F3A20F937" Name="Schedules"/>
      </Cluster>
      
      <Cluster Id="85B46EAB-A93C-4F6B-9234-485E7F524EE5" Name="Leaves">
        <Parent Id="FD515DBF-F0D5-4F78-92D8-6BE31A097042" Name="Attendance"/>
      </Cluster>

      <Cluster Id="539BD77C-386C-403A-8BCA-ECB9A9517C65" Name="Excuses">
        <Parent Id="FD515DBF-F0D5-4F78-92D8-6BE31A097042" Name="Attendance"/>
      </Cluster>

      <Cluster Id="115BE7A7-281F-4EC4-9416-E11F3A20F937" Name="Schedules">
        <Parent Id="FD515DBF-F0D5-4F78-92D8-6BE31A097042" Name="Attendance"/>
        <Parent Id="85B46EAB-A93C-4F6B-9234-485E7F524EE5" Name="Leaves"/>
        <Parent Id="539BD77C-386C-403A-8BCA-ECB9A9517C65" Name="Excuses"/>
      </Cluster>

      <Cluster Id="F90BB4F2-B282-4A7B-A1B8-31B075B227A4" Name="Policies">

        <Parent Id="F63CBF24-8097-410C-86B1-32D2F69BEE9F" Name="Department"/>
        <Parent Id="72BB5AD9-0390-480D-9AD1-76DED4CE6FF8" Name="Holidays"/>
        
      </Cluster>

      <Cluster Id="A94E96E0-057D-4DEE-971F-CFC881DC51B6" Name="Person">
        <Parent Id="F90BB4F2-B282-4A7B-A1B8-31B075B227A4" Name="Policies"/>
        <Parent Id="115BE7A7-281F-4EC4-9416-E11F3A20F937" Name="Schedules"/>
        <Parent Id="85B46EAB-A93C-4F6B-9234-485E7F524EE5" Name="Leaves"/>
        <Parent Id="539BD77C-386C-403A-8BCA-ECB9A9517C65" Name="Excuses"/>
      </Cluster>

      <Cluster Id="F63CBF24-8097-410C-86B1-32D2F69BEE9F" Name="Department">
        <Parent Id="A94E96E0-057D-4DEE-971F-CFC881DC51B6" Name="Person"/>
      </Cluster>

    </Clusters>
  </ClusterInfo>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Telerik.OpenAccess.35.Extensions" publicKeyToken="7ce17eeaf1d59342" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-2016.2.822.1" newVersion="2016.2.822.1"/>
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Telerik.OpenAccess" publicKeyToken="7ce17eeaf1d59342" culture="neutral"/>
  
                 <bindingRedirect oldVersion="0.0.0.0-2016.2.822.1" newVersion="2016.2.822.1"/>
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
