<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>

    <!-- Data Source=10.1.2.41\bck;Initial Catalog=Montaji.Dev.Admin.New;Persist Security Info=True;User ID=sa;Password=P@ssw0rd -->
    <add name="XCore.Unity" connectionString="bF2BGZrBDunjFSDBOAbZ+RQMs6gGwQWw1lvyGIswgt3QIv135WZ1PpxxLr4Tle5fPX3I062mdQwweW8MZE0qTpEmBIF0TmBvjPGvQkGuWO70lDdO//eifw0hI15NWUBb+jVrBCOLUtHYBSFhqhG84WXpAsdnpr1knF+G62CD2z7U89vIESP1ez0c+23ogpVrobYDL9AZeUIyFobLSlqYpPeycEA9HVEhwXYRYRM9JLFw3+i3QuaqkdCQ2nTQkvygYYqZRc4glIzDKBrD5Nr42kQlYLR1Ls/05qRbZ+cWlXe5CxCP7iViPmSYHyz0uOhR" providerName="System.Data.SqlClient" />

  </connectionStrings>

</configuration>